  <!-- Subcribe Section Start -->
  <div id="subscribe" class="section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7 col-md-12 col-xs-12">
            <div class="subscribe-form">
              <div class="form-wrapper">
                <div class="sub-title text-center">
                  <h3>عضویت در خبرنامه</h3>
                  <p>با عضویت در خبرنامه همواره از اخبار جدید و تغییرات با خبر بشید</p>
                </div>
                <form>
                  <div class="row">
                    <div class="col-12 form-line">
                      <div class="form-group form-search">
                        <input type="email" class="form-control" name="email" placeholder="ایمیل خود را وارد کنید">
                        <button type="submit" class="btn btn-common btn-search">عضویت در خبرنامه</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Subcribe Section End -->