.tabset .tab a{
    font-family: iranSansM !important;
  } 
*{
  font-family: iranSansM !important;

}
button{
  cursor: pointer !important;
}
.nb-theme-corporate nb-card{
  border-radius: 30px !important;
}