.regLogo{
    max-width: 200px;
    display: block;
}
p{
    font-family: iranSansM;
}
.loginBody{
    font-family: iranSansM;
}
.alert{
    font-family: iranSansM;
}
.title{
    text-align: center;
    margin: 12px 0;
    font-size: 19px;
}
.subTitle{
    text-align: center;
}
.phoneNum{
    direction: ltr;
    display: block;
}
.phoneSection{
        text-align: center;
        padding: 1% 0 27% 0;
}
.phoneSubmitBtn{
    padding: 26px 0;
}