<div class="loginBody " *ngIf="!codeSent">
  <div class="header">
    <button mat-dialog-close type="button" class="btn btn-danger closeBtn">

      <i class="fas fa-times"></i>
    </button>
    <p mat-dialog-title>ورود / عضویت</p>
  </div>
  <!-- Phone input Step is in this component -->
 <login-phoneinput (codeSent)='sendCode()'></login-phoneinput>

</div>
<div class="sentCodeStep" *ngIf="codeSent && !codeSubmited">
  <div class="header">
    <button mat-dialog-close type="button" class="btn btn-danger closeBtn">

      <i class="fas fa-times"></i>
    </button>
    <p mat-dialog-title>تایید شماره موبایل</p>
  </div>

  <mat-dialog-content class="mat-typography">
    <div class="">
      <div class="row">
        <div class="col">
          <img class="regLogo mx-auto" src="../../../../assets/img/team/team1.jpg" alt="">
          <p class="title"> وارد کردن کد یکبار مصرف
          </p>
          <p class="subTitle">لطفا کد رمزی که به شماره شما ارسال شده را وارد نمایید</p>
        </div>
      </div>
      <div class="row">
        <div class="col phoneSection">

          <form [formGroup]="codeForm">
            <input class="codeInput" type="number" maxlength="6" formControlName="code" nbInput status="success"
              placeholder="کد 6 رقمی ارسال شده را وارد کنید">
            <div class="col">
              <button nbButton hero class="codeSubmitBtn" status="danger">ارسال مجدد کد</button>
              <button type="submit" nbButton hero class="codeSubmitBtn" status="warning"
                (click)="submiteCode()">ادامه</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </mat-dialog-content>
</div>
<div class="sentCodeStep" *ngIf="codeSubmited">
  <div class="header">
    <button mat-dialog-close type="button" class="btn btn-danger closeBtn">

      <i class="fas fa-times"></i>
    </button>
    <p mat-dialog-title>ثبت ایمیل</p>
  </div>

  <mat-dialog-content class="mat-typography">
    <div class="">
      <div class="row">
        <div class="col">
          <img class="regLogo mx-auto" src="../../../../assets/img/team/team1.jpg" alt="">
          <p class="title"> ثبت ایمیل
          </p>
          <p class="subTitle">برای دریافت نتایج ثبت اسناد خود روی بلاک چین و استفاده از آن برای فرایند استعلام ایمیل خود
            را وارد کنید</p>
        </div>
      </div>
      <div class="row">
        <div class="col phoneSection">

          <form [formGroup]="mailForm">
            <input class="codeInput" type="email" formControlName="email" nbInput status="success"
              placeholder="ایمیل خود را وارد نمایید">
            <div class="col">
              <button type="submit" nbButton hero class="codeSubmitBtn" status="warning"
                (click)="submiteCode()">ثبت</button>
              <button nbButton outline class="codeSubmitBtn" mat-dialog-close size="small" status="info">بعدا ثبت
                میکنم</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </mat-dialog-content>
</div>