.regLogo {
  max-width: 200px;
  display: block;
}
p {
  font-family: iranSansM;
}
.loginBody {
  font-family: iranSansM;
  transition: 0.5s ease-in-out all;
}
.alert {
  font-family: iranSansM;
}
.title {
  text-align: center;
  margin: 12px 0;
  font-size: 19px;
}
.subTitle {
  text-align: center;
}
.phoneNum {
  direction: ltr;
  display: block;
}
.phoneSection {
  text-align: center;
  padding: 1% 0 14% 0;
}
.phoneSubmitBtn {
  padding: 26px 0;
}


.codeInput{
    font-family: iranSansM;
}
.codeSubmitBtn{
    margin: 21px 1%;
    font-family: iranSansM;
}
button{

    font-family: iranSansM;
}