.regLogo{
    max-width: 200px;
    display: block;
}
p{
    font-family: iranSansM;
}
.title{
    text-align: center;
    margin: 12px 0;
    font-size: 19px;
}
.subTitle{
    text-align: center;
}
.phoneNum{
    direction: ltr;
}