p{
    display: inline-block;
}
ul{
    list-style: none;
}
.fileStatus {
    border-left: 1px solid #dedede;
    padding: 0px 45px;
}
li{
    margin-bottom: 10px;
    span{
        padding-left: 10px;
    }
}
.greenText{
    color: green;
}
.transactionID{
    background: #dededd;
    padding: 2px;
}
.fileData{
    padding: 0 45px;
}