@font-face {
    font-family: iranSans;
    src: url(./../fonts/IRANSans.woff2) format("opentype");
  }
  @font-face {
    font-family: iranSansM;
    src: url(./../fonts/iransansMedium.woff2) format("opentype");
  }