
//   
// // /// // tabs /// /// //

nb-tabset .tabset{
    font-family: iranSansM;
    font-size: 20px;
  } 
  
  ul{
    font-family: iranSansM;
  }
  
   nb-tabset .tabset a {
    font-family: iranSansM;
    padding: 9px 0;
    color: #505050;
    font-size: 19px;
    font-weight: 800;
  }
  .fontFamily{
    font-family: iranSansM;
  }
  //////// Stepper ////////
  .cardBody{
    font-family: iranSansM;
    padding: 2% 13% 0;
  }
