<nb-card>
  <nb-card-body>
    <nb-tabset fullWidth>
      <nb-tab id="tabTitle" tabTitle="ثبت جدید">
        <nb-card>
          <nb-card-body class="cardBody">
            <nb-stepper orientation="horizontal">
              <nb-step [label]="labelOne" [stepControl]="fileInputForm">
                <ng-template #labelOne>ثبت محتوا</ng-template>
                <form [formGroup]="fileInputForm">
                  <input type="text" style="display:none" class="form-control" formControlName="fileCtrl" />
                </form>

                <file-uploader (fileInputChange)="
                    fileInputForm.setValue({ fileCtrl: $event?.files?.length }) ;
                  "></file-uploader>
                <button class="fontFamily" nbButton disabled nbStepperNext>
                  قبلی
                </button>
                <button *ngIf="hasFile" class="fontFamily" nbButton nbStepperNext (click)="getInputFile()"
                  type="submit">
                  بعدی
                </button>
                <button *ngIf="!hasFile" class="fontFamily" nbButton nbPopover="ابتدا یک فایل انتخاب کنید">
                  بعدی
                </button>
              </nb-step>
              <nb-step [label]="labelTwo">
                <ng-template #labelTwo> اطلاعات تکمیلی</ng-template>
                <nb-card>
                  <nb-card-body>
                    <optional-info optionalInputChange="getOptionalValue($event)">
                    </optional-info>
                  </nb-card-body>
                </nb-card>
                <button class="fontFamily" nbButton nbStepperPrevious>
                  قبلی
                </button>
                <button class="fontFamily" nbButton nbStepperNext>بعدی</button>
              </nb-step>
              <nb-step label="تایید">
                <h3>Step content #3</h3>
                <button class="fontFamily" nbButton nbStepperPrevious>
                  قبلی
                </button>
                <button class="fontFamily" nbButton disabled nbStepperNext>
                  بعدی
                </button>
              </nb-step>
            </nb-stepper>
          </nb-card-body>
        </nb-card>
      </nb-tab>
      <nb-tab tabTitle="استعلام">
        <p><strong>استعلام</strong></p>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>