.regLogo {
    max-width: 200px;
    display: block;
  }
  p {
    font-family: iranSansM;
  }
  .mat-dialog-title {
      margin: 0px 15px 20px;
      display: inline-block;
  }
  .loginBody {
    font-family: iranSansM;
    transition: 0.5s ease-in-out all;
  }
  .alert {
    font-family: iranSansM;
  }
  .title {
    text-align: center;
    margin: 12px 0;
    font-size: 19px;
  }
  .subTitle {
    text-align: center;
  }
  .phoneNum {
    direction: ltr;
    display: block;
  }
  .phoneSection {
    text-align: center;
  //   padding: 1% 0 14% 0;
  }
  .phoneSubmitBtn {
    padding: 26px 0;
  }
  .header .fa-window-close{
      font-size: 23px;
      color: #fff;
      /* width: 5%; */
      cursor: pointer;
  }
  .closeBtn{
      padding: 5px 8px !important;
  }
  
  .codeInput{
      font-family: iranSansM;
  }
  .codeSubmitBtn{
      margin: 21px 1%;
      font-family: iranSansM;
  }
  button{
  
      font-family: iranSansM;
  }
   nb-alert {
  
      margin: 1.5rem 0 0
  }
  .wrongCode{
    color: red;
    margin-top: 12px;
    margin-bottom: 0;
    font-size: 16px;
  }