  <!-- features Section Start -->
  <div id="app-features" class="section">
      <div class="container">
        <div class="section-header">
          <p class="btn btn-subtitle wow fadeInDown" data-wow-delay="0.2s">قابلیت ها</p>
          <h2 class="section-title wow fadeIn" data-wow-delay="0.2s">مزایای فن آوری (اسم استارت آپ)</h2>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-12 col-xs-12">
            <div class="content-left text-right">
              <div class="box-item left">
                <span class="icon">
                  <i class="lni-lock"></i>
                </span>
                <div class="text">
                  <h4>حریم خصوصی</h4>
                  <p>اطلاعات شما هرگز محل خود را ترک نمی کند : تنها شناسه های منحصر به فرد در blockchain جاسازی شده اند</p>
                </div>
              </div>
              <div class="box-item left">
                <span class="icon">
                  <i class="lni-magnifier"></i>
                </span>
                <div class="text">
                  <h4>شفافیت</h4>
                  <p>داده ها می توانند به طور مستقل اعتبار سنجی و تایید شوند و تغییرات در لحظه ثبت میشود</p>
                </div>
              </div>
              <div class="box-item left">
                <span class="icon">
                  <i class="lni-headphone-alt"></i>
                </span>
                <div class="text">
                  <h4>پشتیبانی</h4>
                  <p>درصورت هرگونه شوال و یا مشکل همواره تیم ما آماده پاسخگویی به شماست</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-xs-12">
            <div class="show-box">
              <img src="../../../../assets/img/features/app.png" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-xs-12">
            <div class="content-right text-right">
              <div class="box-item right">
                <span class="icon">
                  <i class="lni-shield"></i>
                </span>
                <div class="text">
                  <h4>امنیت</h4>
                  <p>اسناد شما تحت حفاظت ایمن ترین شبکه موجود حال حاضر دنیا قرار می گیرد</p>
                </div>
              </div>
              <div class="box-item right">
                <span class="icon">
                  <i class="lni-world"></i>
                </span>
                <div class="text">
                  <h4>دسترسی جهانی</h4>
                  <p>داده ها پس از رمزگذاری به هزاران node در سرتاسر جهان توزیع میشوند</p>
                </div>
              </div>
              <div class="box-item right">
                <span class="icon">
                  <i class="lni-medall"></i>
                </span>
                <div class="text">
                  <h4>اثبات وجود قانونی</h4>
                  <p>پس ازثبت مدرک یا اطلاعات خود از همان زمان به بعد مدرک شما برای همیشه در بلاک چین قرار خواید گرفت </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- features Section End -->
  
    <!-- Start Video promo Section -->
    <section class="video-promo section">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="video-promo-content text-center">
              <a href="https://www.youtube.com/watch?v=yP6kdOZHids" class="video-popup"><i class="lni-video"></i></a>
              <h2 class="mt-3 wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">نمایش دمو</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Video Promo Section -->