
  .copyright {
    padding: 15px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    color: #ffffff;
    margin-top: 30px;
  }
  
  .copyright p {
    margin-bottom: 0;
    color: #fff;
  }
  
  .copyright p a {
    color: #ffffff;
  }
  
  .copyright p a:hover {
    color: #f1f1f1;
  }
  
  .copyright .nav-inline .nav-link {
    color: #ffffff;
    padding: 10px 0;
    margin-left: 10px;
  }
  
  .copyright .nav-inline .nav-link:hover {
    color: #3c9cfd;
  }
  