<!-- Copyright Start  -->
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="site-info float-left">
          <p>&copy; 2020 - Designed by <a href="http://mognia.ir" rel="nofollow">Mognia</a></p>
        </div>
        <div class="float-right">
          <ul class="footer-social">
            <li><a class="facebook" href="#"><i class="lni-facebook-filled"></i></a></li>
            <li><a class="twitter" href="#"><i class="lni-twitter-filled"></i></a></li>
            <li><a class="linkedin" href="#"><i class="lni-linkedin-fill"></i></a></li>
            <li><a class="google-plus" href="#"><i class="lni-google-plus"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Copyright End -->