<div class="oprtionalForm">
  <div class="discribe">
    <p>توجه کنید اطلاعات خواسته شده در این قسمت الزامی نیست</p>
  </div>
  <form [formGroup]="optionalInputForm" >
  <div class="input">
    <input formControlName="firstName" (change)="getFirstName($event)" type="text" nbInput placeholder="نام">
  </div>
  <div class="input">

    <input formControlName="lastName" (change)="getLastName($event)" type="text" nbInput placeholder="نام خانوادگی">
  </div>
  <div class="input">

      <textarea formControlName="comment" (change)="getComment($event)" nbInput fullWidth  placeholder="توضیحات"></textarea>
    </div>
  </form>
</div>
