.oprtionalForm .input{
    margin: 1% 9%;
    text-align: right;
}
.oprtionalForm .input p{
    font-size: 13px;
    color: darkgrey;
    padding: 12px 0 ;
}

.discribe{
    text-align: center;
    font-size: 17px;
    color: #a4abb3;
    padding: 3% 0;
}