<!-- Footer Section Start -->
<footer>
  <!-- Footer Area Start -->
  <section class="footer-Content">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
          <img src="img/logo.png" alt="">
          <div class="textwidget">
            <p>Appropriately implement one-to-one catalysts for change vis-a-vis wireless catalysts for change.
              Enthusiastically architect adaptive.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
          <div class="widget">
            <h3 class="block-title">به ما بپیوندید</h3>
            <ul class="menu">
              <li><a href="#">ورود</a></li>
              <li><a href="#">ثبت نام</a></li>

            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
          <div class="widget">
            <h3 class="block-title">منابع</h3>
            <ul class="menu">
              <li><a href="#">Comunnity</a></li>
              <li><a href="#">از اعضای ما شوید</a></li>
              <li><a href="#">مستندات</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
          <div class="widget">
            <h3 class="block-title">پشتیبانی</h3>
            <ul class="menu">
              <li><a href="#">قوانین و مقررات</a></li>
              <li><a href="#">ارتباط با ما</a></li>
              <li><a href="#">سیاست ها</a></li>
              <li><a href="#">کمک</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <copy-right></copy-right>
  </section>
  <!-- Footer area End -->

</footer>
<!-- Footer Section End -->