  <!-- download Section Start -->
  <section id="download">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="download-wrapper wow fadeInRight" data-wow-delay="0.2s">
              <div>
                <div class="download-text">
                  <h4>اپلیکیشن ما را دریافت کنید</h4>
                  <p>با استفاده از اپلیکیشن همیشه گاو صندق مدارک خود را در جیبتان حمل کنید!</p>
                </div>
                <a href="#" class="btn btn-common btn-effect"><i class="lni-android"></i> دریافت از گوگل پلی<br></a>
                <a href="#" class="btn btn-apple"><i class="lni-apple"></i> دریافت از اپ استور<br></a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="download-thumb wow fadeInLeft" data-wow-delay="0.2s">
              <img class="img-fluid" src="../../../../assets/img/mac.png" alt="">
            </div>
          </div>
  
        </div>
      </div>
    </section>
    <!-- download Section Start -->
  