  <!-- Features Section Start -->
  <div id="features-two" class="section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
              <img class="img-fluid" src="../../../../assets/img/features/block.gif" alt="">
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="text-wrapper wow fadeInRight" data-wow-delay="0.6s">
              <div>
                <p class="btn btn-subtitle">چگونه کار میکند؟</p>
                <h3>نگاه عمیق تر</h3>
                <p>سیستم ما بستری را فراهم کرده است تا با ثبت اطلاعات و داده های خود بر شبکه بلاک چین از سندیت و اثبات
                  قانونی آن مطمئن باشید. مدارک شما برای همیشه روی بلاک چین باقی میماند حتی اگر این وب سایت دردسترس نبود</p>
                <a class="btn btn-rm" href="#">Read More <i class="lni-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt">
          <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="text-wrapper wow fadeInRight" data-wow-delay="0.9s">
              <div>
                <p class="btn btn-subtitle">چرا ما؟</p>
                <h3>دلایل استفاده از سیستم (اسم)</h3>
                <p>در این مقاله سعی شده به صورت مختصر به بررسی محاسن استفاده از سرویس ما بپردازیم</p>
                <a class="btn btn-rm" href="#">Read More <i class="lni-arrow-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="img-thumb wow fadeInLeft" data-wow-delay="1.2s">
              <img class="img-fluid" src="../../../../assets/img/features/img1.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Features Section End -->
  