<mat-dialog-content class="mat-typography">
    <div class="">
      <div class="row">
        <div class="col">
          <img class="regLogo mx-auto" src="../../../../assets/img/team/team1.jpg" alt="">
          <p class="title"> ثبت نام و ورود اعضا
          </p>
          <p class="subTitle">با وارد کردن شماره موبایل خود یک کد رمز یکبار مصرف به شماره شما ارسال خواهد شد</p>
        </div>
      </div>
      <div class="row">
        <div class="col phoneSection">

          <form #phoneNumForm="ngForm" [formGroup]="phoneForm"  (ngSubmit)="validateNum(phoneNumForm.value)">
            <ngx-intl-tel-input class="phoneNum mx-auto" [cssClass]="phoneInput" [onlyCountries]="['ir', 'us','uk']"
              [enablePlaceholder]="true" [enableAutoCountrySelect]="true" name="phone" formControlName="phone">
            </ngx-intl-tel-input>
            <div *ngIf="invalidNum">
              <nb-alert status="danger" class="alert">شماره وارد شده صحیح نمیباشد! دوباره چک کنید</nb-alert>
            </div>
            <div class="col phoneSubmitBtn">
              <button type="submit" nbButton hero status="warning" class="codeSubmitBtn">ارسال رمز</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </mat-dialog-content>