@import '../@theme/styles/themes';

@include nb-install-component() {
  /deep/ router-outlet + * {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}
.sticky{
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 10;
  width: 100%;
}

.content{
  height: 200vh;
}
.nb-theme-corporate nb-layout .layout .layout-container .content .columns nb-layout-column{
  padding: 0;
}
