<!-- Header Section Start -->

<header id="home" class="hero-area-2">
  <div class="overlay"></div>
  <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar">
    <div class="container">


      <a href="index.html" class="navbar-brand">
        <img src="../../../../assets/img/logo.png" alt="">
      </a>


      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="lni-menu"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav hyperLinks mr-auto w-100 justify-content-end">
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#home">خانه</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#app-features">مزایا</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#docs">مقالات</a>
          </li>

          <li class="nav-item">
            <a class="nav-link page-scroll" href="#download">اپلیکیشن</a>
          </li>

        </ul>
        <ul class="navbar-nav mr-auto w-100 justify-content-end">

          <li class="nav-item">
              <button  (click)='openLoginDialog()' nbButton outline status="success" class="btn">
                ورود / عضویت
              </button>
          </li>

          <li class="nav-item">
              <button nbButton hero status="primary" href="#home" class="btn page-scroll" >ثبت جدید</button>
          </li>

        </ul>
      </div>

    </div>
  </nav>
  <div class="container ">
    <div class="container-bg"> </div>
    <div class="row ">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="contents">
          <h2 class="head-title">اثبات وجود مدارک بر پایه بلاک چین</h2>
          <div class="header-SubTitle">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
            گرافیک است. </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <new-record ></new-record>
        
      </div>

    </div>

  </div>
</header>
<!-- Header Section End -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>