<!-- Header Section Start -->

<header id="home" class="hero-area-2">
  <div class="overlay"></div>

  <!-- navbar omponent -->
  <nav-bar></nav-bar>

  <div class="container ">
    <div class="container-bg"> </div>
    <div class="row ">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="contents">
          <h2 class="head-title">اثبات وجود مدارک بر پایه بلاک چین</h2>
          <div class="header-SubTitle">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
            گرافیک است. </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

        <!-- New Record Component -->
        <new-record></new-record>

      </div>

    </div>

  </div>
</header>
<!-- Header Section End -->