
   /* ==========================================================================
      Navbar Style
      ========================================================================== */
      .logo-menu a {
        font-size: 20px;
        color: #fff;
      }
      
      .menu-bg {
        background: -webkit-linear-gradient(left, #3c96ff 0%, #2dfbff 100%) !important;
        background: linear-gradient(to right, #2dfbff 0%, #3c96ff 100%) !important;
        box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1);
        z-index: 9999;
        padding: 5px;
      }
      
      .menu-bg .menu-button {
        top: 0;
      }
      
      .menu-bg .menu-button:hover {
        cursor: pointer;
        color: #3c9cfd;
      }
      
      .menu-bg .logo-menu a {
        color: #3c9cfd;
      }
      
      .menu-bg .navbar-nav .nav-link {
        color: #ffffff !important;
      }
      
      .menu-bg .navbar-nav .nav-link:hover {
        color: #ffffff !important;
      }
      
      .menu-bg .navbar-nav .active {
        color: #ffffff !important;
      }
      
      .navbar-expand-md .navbar-nav .nav-link {
        color: #fff;
        font-size: 15px;
        padding: 5px 0px;
        margin-left: 30px;
        font-family: iranSansM;
        position: relative;
      }
      
      .navbar-expand-md .navbar-nav .nav-link:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background: #ffffff;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        transition: 0.3s;
      }
      
      .navbar-expand-md .navbar-nav .active::before,
      .navbar-expand-md .navbar-nav .nav-link:hover::before {
        width: 100%;
      }
      
      .navbar-brand {
        color: #fff;
      }
      
      .navbar-expand-md .navbar-nav .nav-link:focus,
      .navbar-expand-md .navbar-nav .nav-link:hover,
      .navbar-expand-md .navbar-nav .nav-link:hover:before {
        color: #ffffff;
      }
      
      .navbar-expand-md .navbar-nav .active > .nav-link,
      .navbar-expand-md .navbar-nav .nav-link.active,
      .navbar-expand-md .navbar-nav .nav-link.active:before,
      .navbar-expand-md .navbar-nav .nav-link.open,
      .navbar-expand-md .navbar-nav .open > .nav-link {
        color: #ffffff;
      }
      
      .navbar-expand-md .navbar-toggler {
        background: transparent;
        border: 1px solid #fff;
        border-radius: 3px;
        margin: 5px;
        cursor: pointer;
        float: right;
      }
      
      .navbar-expand-md .navbar-toggler i {
        color: #fff !important;
      }
      
      .navbar-expand-md .navbar-toggler:focus {
        outline: none;
      }
      .btn{
        font-family: iransansm;
        margin: 0 5%;
      }
      .nav-item{
        margin: 0 2%;
      }